<h1>Your Cart</h1>

{% if items %}
  <ul>
    {% for item in items %}
      <li>
        {{ item.product.name }} -
        Quantity: {{ item.quantity }} -
        Price: {{ item.subtotal }}
      </li>
    {% endfor %}
  </ul>

  <h3>Total: {{ total }}</h3>

  <a href="{% url 'checkout' %}">
    <button>Proceed to Checkout</button>
  </a>

{% else %}
  <p>Your cart is empty.</p>
{% endif %}

<a href="{% url 'home' %}">Continue Shopping</a>
<h1>Checkout Page</h1>

<p>Confirm your order</p>

<a href="{% url 'place_order' %}">
    <button>Place Order</button>
</a>

